<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.7/phpunit.xsd"
	bootstrap="tests/php/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnFailure="false"
	verbose="true"
>
	<testsuites>
		<testsuite name="exercise1">
			<directory suffix="Test.php">tests/php/exercise1</directory>
		</testsuite>
		<testsuite name="exercise2">
			<directory suffix="Test.php">tests/php/exercise2</directory>
		</testsuite>
		<testsuite name="exercise3">
			<directory suffix="Test.php">tests/php/exercise3</directory>
		</testsuite>
		<testsuite name="exercise4">
			<directory suffix="Test.php">tests/php/exercise4</directory>
		</testsuite>
	</testsuites>
</phpunit>
